---
layout: compare.njk
pagination:
  data: competitors
  size: 1
  alias: competitor
permalink: "/compare/vouch-vs-{{ competitor.slug }}/"
eleventyComputed:
  title: "Vouch Mobile vs {{ competitor.name }} - Compare Plans & Pricing"
  description: "Compare Vouch Mobile to {{ competitor.name }}. See how our $30/month unlimited plan on AT&T's network stacks up against {{ competitor.name }}'s {{ competitor.network }} service."
---
